<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UneCont</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UneCont.styles.css" asp-append-version="true" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        crossorigin="anonymous">

    @RenderSection("Styles", required: false)
</head>

@{
    string currentController = ViewContext?.RouteData?.Values["controller"].ToString();
    string currentAction = ViewContext?.RouteData?.Values["action"].ToString();
}

<body>
    <div class="d-flex">
        <div id="sidebar" class="sidebar minimize">
            <div id="closeSidebar"><i class="fa-solid fa-xmark"></i></div>
            <h5 class="pb-2">UneCont</h5>
            <ul class="navbar-nav flex-grow-1">
                <li class="nav__item">
                    <a class="nav-link text-white @((currentController == "Dashboard" && currentAction == "Index") ? "fw-bold" : "")"
                        asp-area="" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
                </li>
                <li class="nav__item">
                    <a class="nav-link text-white @((currentController == "Notes" && currentAction == "Index") ? "fw-bold" : "")"
                        asp-area="" asp-controller="Notes" asp-action="Index">Lista de Notas</a>
                </li>
            </ul>
        </div>
        <div class="content__dashboard">
            <nav
                class="navbar navbar-expand-sm px-4 navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
                <div class="d-flex align-items-center gap-2">
                    <div id="openSidebar"><i class="fa-solid fa-bars"></i></div>
                    <div class="container-fluid">
                        <a class="navbar-brand fw-bold" asp-area="" asp-controller="Dashboard"
                            asp-action="Index">@ViewData["Title"]</a>
                    </div>
                </div>
            </nav>
            <div class="container">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>


    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UneCont - <a asp-area="" asp-controller="Dashboard" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/apiService.js" asp-append-version="true"></script>
    <script src="~/js/utils.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
